{  CIDER: {    dependencies: {      nuget: "",      tatin: "packages=MakeHelpers",    },    dependencies_dev: {      tatin: "packages_dev=TestCases",    },    distributionFolder: "Dist",    init: "MakeHelpers.Init",    make: "Admin.Make 1",    parent: "#",    projectSpace: "MakeHelpers",    project_url: "https://github.com/aplteam/MakeHelpers",    source: "APLSource",    tatinVars: "MakeHelpers",    tests: "TestCases.RunTests",  },  LINK: {    forceFilenames: 1,    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {  },}
